@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Nunito:wght@400;600;700&display=swap');

*{
  margin: none; 
  padding: none;
}

body,
html {
  font-family: "Inter", sans-serif;
  height: 100%;
  color: #011407;
}

h1{
  font-family: 'Nunito', sans-serif;
}